<div id="chat" class="max-w-[300px] fixed right-2 bottom-2 p-4 rounded-xl">
    <div id="chat_room" class="hidden">
        <div id="chat_log" class="mb-4 p-4  rounded-xl h-[300px] overflow-scroll">
            <p>Welcome to our chat! You can type your message ...</p>
        </div>
        <div id="container" style="position: relative;">
            <input type="text" name="body" id="chat_message_input" class="w-full mb-4 p-4  rounded-xl" placeholder="Type your message...">
            <button id="chat_message_submit" class="py-2 px-6 text-white rounded-xl">Send</button>
        </div>
    </div>
</div>